/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body {
    margin: 0px;
}
.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFDBAA;
    width: 100%;
    border-bottom: 1px solid black;

h1 {
    justify-content: left;
    color: #553100;
    padding-left: 100px;
    padding-bottom: 20px;
}
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    padding-right: 150px;
    align-items: center;
    padding-left: 40px;
}

.nav-btn {
    background-color: #805215;
    color: white;
    padding: 10px;
}

.middle-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-left: 20px;
    margin-right: 20px;

}

.flight-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
    max-width: 350px;
    background-color: white;
    margin-top: 20px;

}

.info {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.para {
    display: flex;
    justify-content: center;
}

.bottom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 50px;
    color:white;
    background-color: #805215;
    font-size: 18px;

}

#bttm-half {
    background-color: #D4A76A;
    min-height: 100vh;
}
.bttm-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 100px;
    width: 90%;

}

#about-us {
    display: flex;
    justify-content: center;
}
#about-text {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
}

#learn {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #805215;
    color: white;
    font-size: 18px;
}